body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    padding: 3em;
}

#curriculum {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.titulo_principal {
    font-family: 'Poppins', sans-serif;
    font-style: 300;
    font-size: 3em;
}

p {
    font-size: 1em;
}

.contenedor {
    padding: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_hijo {
    margin: 1em;
}

#contenedor_perfil {
    background-color: rgb(223, 223, 223);
    flex-direction: row;
}


#imagen_perfil {
    width: 250px;
    border-radius: 100%;
    margin: 2em;
}

#contenedor_sobremi {
    margin: auto;
    padding: 3em;
    width: 60vw;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

#contenedor_educacion {
    background-color: rgb(223, 223, 223);
    margin: auto;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contenedor_experiencia {
    margin: auto;
    width: 60vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3em;
    color: rgb(150, 150, 150);
}

.link:hover {
    color: white;
    transition: 1s;
}